body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0;
  }
  body > div:nth-child(3) {
    margin-top: 30px;
  }
  
  .demo {
    /* for IE10+ touch devices */
    touch-action: none;
  }
  /** JSPLUMB ARTEFACTS **/
  .jtk-overlay {
    z-index: 51;
  }
  
  .jtk-endpoint {
    z-index: 50;
    cursor: move;
  }
  
  .jtk-connector {
    z-index: 1;
  }
  
  /** ELEMENTS **/
  .littledot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-image: url("/static/images/littledot.png");
    z-index: 5;
    position: absolute;
    border-radius: 31px;
  }
  
  .littledot-hover-hover {
    border: 2px solid orange;
  }
  
  .dropHover {
    border: 1px solid orange;
  }
  
  /** ELEMENT POSITIONS **/
  
  #ld1 {
    top: 11.5em;
    left: 22em;
  }
  #ld2 {
    top: 14.5em;
    left: 22em;
  }
  /* */
  #ld3 {
    top: 18.5em;
    left: 22em;
  }
  #ld4 {
    top: 21.5em;
    left: 22em;
  }
  /* */
  #ld5 {
    top: 8em;
    left: 29em;
  }
  #ld6 {
    top: 12em;
    left: 29em;
  }
  /* */
  #ld7 {
    top: 19em;
    left: 34em;
  }
  #ld8 {
    top: 19em;
    left: 39em;
  }
  /* DC motor*/
  #ld9 {
    top: 17em;
    left: 54em;
  }
  #ld10 {
    top: 17em;
    left: 60em;
  }
  #ld11 {
    top: 20.5em;
    left: 54em;
  }
  #ld12 {
    top: 20.5em;
    left: 60em;
  }
  #ld13 {
    top: 24em;
    left: 54em;
  }
  #ld14 {
    top: 24em;
    left: 60em;
  }
   /* */
  /* */
  #ld15 {
    top: 9em;
    left: 72.3em;
  }
  #ld16 {
    top: 9em;
    left: 77.5em;
  }
  #ld17 {
    top: 21em;
    left: 72.3em;
  }
  #ld18 {
    top: 21em;
    left: 77.5em;
  }
  #ld19 {
    top: 28em;
    left: 68em;
  }
  #ld20 {
    top: 25em;
    left: 82em;
  }
  
  path,
  .jtk-endpoint {
    cursor: pointer;
  }
  
  #wrapper {
    width: 100%;
  }
  div {
    box-sizing: border-box;
    resize: both;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 500px;
    border: solid;
    border-bottom: 0;
  }
  
  .column30 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 400px;
    border: solid;
    border-left: 0;
  }
  .column40 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 400px;
    border: solid;
  }
  
  .column50 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
    border: solid;
  }
  .column25 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 250px;
    border-top: solid;
  }
  
  .column42 {
    float: left;
    width: 42%;
    padding: 10px;
    height: 300px;
    border-top: solid;
    border-bottom: solid;
  }
  
  .column24 {
    float: left;
    width: 24%;
    padding: 10px;
    height: 300px;
    border-top: solid;
    border-bottom: solid;
  }
  
  .column14 {
    float: left;
    width: 14%;
    padding: 10px;
    height: 300px;
    border-top: solid;
    border-bottom: solid;
  }
  
  .column10 {
    float: left;
    width: 10%;
    padding: 10px;
    height: 300px;
    border-top: solid;
    border-bottom: solid;
    border-right: 0px;
  }
  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 67%;
    height: 7px;
    border-radius: 5px;
    background: grey;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 15px;
    opacity: 1;
    border-radius: 10%;
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .rotorOuter {
    position: relative;
    top: 0;
    left: 0;
  }
  .rotorInner {
    position: absolute;
    top: 60px;
    left: 60px;
  }
  @keyframes rotations {
    from {
      transform: rotate(10deg);
    }
    to {
      transform: rotate(30deg);
    }
  }
  .rotate {
    animation: rotation 0s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  
  .footer div {
    position: relative;
  }
  .footer p {
    position: relative;
  }
  .rectifier {
    position: absolute;
    top: 8em;
    left: 15em;
    height: 250px;
    width: 100px;
    padding-top: 60px;
    padding-bottom: 35px;
    background-color: #404040;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .rectifier-diode {
    background-color: #dcc5c2;
    padding: 5px;
    height: 30%;
    display: flex;
    justify-content: center;
  }
  
  .rectifier-diode img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid;
  }

  .dc-generator {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30em;
    top: 1.3em;
    background-color: white;
    width: 200px;
    height: 235px;
  }
  .dc-generator img {
    max-width: 95%;
    max-height: 95%;
    border: 6px solid #404040;
  }
  
  
  .dc-motor {
    position: absolute;
    left: 51em;
    top: 2em;
    background-color: #404040;
    width: 200px;
    height: 235px;
    
  }
  
  .dc-motor img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .addButtonClass {
    background-color: #27d447;
  }
  
  .addButtonClass:hover {
    background-color: royalblue;
    color: white;
  }
  